@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 241;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  }
  


.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

.tags {
	@apply flex flex-wrap mx-auto w-full max-w-3xl;
}

.tag {
	@apply text-xl text-gray-700 m-3 hover:scale-105 hover:transition-all;
}

.tag a {
	@apply underline underline-offset-4 decoration-wavy decoration-slate-400 hover:text-purple-800 hover:decoration-slate-700;
}