---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import HeroImage from '../components/HeroImage.astro';
import homeImage from '@assets/hero-images/palm-beach.webp';
import { SITE_DESCRIPTION, SITE_TITLE } from 'src/consts';
import PostTitle from '@components/PostTitle.astro';
import LatestPosts from '@components/LatestPosts.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class='max-w-4xl'>
    <PostTitle>Johnny & Leslie</PostTitle>
    <p class='text-lg md:text-xl lg:pr-5 mb-8 text-gray-700'>
      Follow our adventures, places and people we have visited and met in our
      trips.
    </p>

    <div class='flex gap-4 rounded-xl'>
      <div class='mx-auto md:basis-1/2'>
        <Image
          src={homeImage}
          alt='Leslie and Johnny relaxing in Palm Beach, Waihiki Island'
          width={500}
          height={250}
          class='rounded-xl'
        />
      </div>
      <div
        class='hidden md:flex mx-auto text-base text-gray-700 items-center basis-1/2'
      >
        <p>
          Step into our world, where Leslie and Johnny, two avid explorers with
          an unquenchable thirst for discovery and a penchant for the
          extraordinary, invite you to join their incredible journey. We've
          crisscrossed the United States, Mexico, the Dominican Republic,
          Canada, all of Europe, the Canary Islands, the Balearic Islands,
          Greece, Singapore, Thailand, New Zealand, Australia, and beyond –
          collecting memories that span continents and cultures.
        </p>
      </div>
    </div>

    <div class='mx-auto my-8 text-lg text-gray-700 flex flex-col space-y-3'>
      <p class='mt-8 md:hidden'>
        Step into our world, where Leslie and Johnny, two avid explorers with an
        unquenchable thirst for discovery and a penchant for the extraordinary,
        invite you to join their incredible journey. We've crisscrossed the
        United States, Mexico, the Dominican Republic, Canada, all of Europe,
        the Canary Islands, the Balearic Islands, Greece, Singapore, Thailand,
        New Zealand, Australia, and beyond – collecting memories that span
        continents and cultures.
      </p>
      <p>
        From the lively markets of Marrakech to the tranquil landscapes of New
        Zealand, our adventures have woven a rich tapestry of experiences across
        the globe. Each destination leaves its mark, contributing a distinct
        chapter to the evolving story of our travels.
      </p>

      <p>
        Yet, for us, it's more than just ticking off places on a map. It's about
        the people we meet along the way. We wholeheartedly believe in the
        transformative power of connecting with locals, immersing ourselves not
        only in the flavors of exotic cuisines but also in the warmth of human
        stories. So, come along as we share the moments, the encounters, and the
        profound connections that make our journey uniquely ours. Welcome to the
        intimate world of Leslie and Johnny, where every adventure is a
        celebration of the extraordinary – both in places and in people.
      </p>
    </div>
    <div class='border border-b-1'></div>
    <LatestPosts name={SITE_TITLE} />
  </section>
</Layout>
