---

import FormattedDate from './FormattedDate.astro';

type Props = {
	pubDate: Date;
	updatedDate?: Date;
	name?: string;
  headline?: string;
	[key: string]: any;
};

const {  pubDate, updatedDate, headline } = Astro.props;


---

<div class='flex flex-row w-full justify-between my-8 space-x-4 px-4'>
  <div class='md:text-lg text-gray-700 italic basis-1/3'>
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div>
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
  </div>
  <div class=' text-gray-600 basis-2/3'>
    <p class='text-normal lg:text-end'>{headline}</p>
  </div>
</div>
