---

---

<button
  type='button'
  class='fixed bottom-20 right-10 outline-none border-none bg-purple-50 hover:bg-indigo-200  rounded-full transition-all duration-200'
  aria-label='back to the the top button'
  x-data
  x-show='isShowing'
  @click="window.scrollTo({top: 0, behavior: 'smooth'})"
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='38'
    height='38'
    viewBox='0 0 24 24'
    ><path
      fill='currentColor'
      d='M12 22A10 10 0 0 1 2 12A10 10 0 0 1 12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10m0-15l-5 5h3v4h4v-4h3z'
    ></path></svg
  >
</button>
